body {
    font-family: sans-serif;
}

nav {
    margin-bottom: 20px;
}
body {
  background: transparent url(./images/bubbles.jpeg) top left;
  background-size: cover;
  background-attachment: fixed;
  }