<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">BYOB</title>

    <link rel="stylesheet" href="/css/bootstrap.css" />

</head>
<body>


<nav th:fragment="navigation" class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/byob/home">BYOB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/byob">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/byob/suggest">Suggest</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/byob/random">Random</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/add">Sign Up</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

</body>
</html>
